h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family:'Times New Roman', Times, serif ;
  background-color: #f085cd;
  color: #000000;
  padding: 0.2em 0;
  /* Espaciado interno del footer */
  margin-top: 1%;
}
footer .col-md-4 {
  margin-top: 1%;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: #000000;
}
footer ul li a:hover {
  color: #fff;
}
footer ul li i {
  display: auto;
}

footer ul li i:hover {
  color: #fff;
}

#icono{
  font-size: 1.2em;
  margin: 4px;
}
h4 i{
  display: auto;
}
h4 i:hover{
  color: #fff;
}

h4 a{
  font-size: 1em;
  color: #000000;
  margin: 10px;
  text-decoration: none;
}

h4 a:hover{
  color: #fff;
}
