<footer>
  <div class="container">
    <div class="row">
      <!-- Información de contacto -->
      <div class="col-md-4">

        <h4>
          <i class="pi pi-inbox" style=></i>
          <a routerLink="/contacto">Contacto</a>
        </h4>
        <ul class="list-unstyled">
          <li>
            <i i id="icono" class="pi pi-phone"></i>
            <a>Telefono: +123456789</a>
          </li>
          <li>
            <i id="icono" class="pi pi-inbox"></i>
            <a>Correo electrónico: ventasvivise@gmail.com</a>
          </li>
        </ul>
      </div>

      <!-- Enlaces a redes sociales -->
      <div class="col-md-4">
        <h4>
          <a>Redes Sociales</a>
        </h4>
        <ul class="list-unstyled">
          <li>
            <i id="icono" class="pi pi-facebook" ></i>
            <a href="https://www.facebook.com/ventas.vyvy" target="_blank">Facebook</a>
          </li>
          <li>
            <i id="icono" class="pi pi-instagram"></i>
            <a href="https://www.instagram.com/viviseventas/" target="_blank">Instagram</a>

          </li>
        </ul>
      </div>

      <!-- Información adicional -->
      <div class="col-md-4">
        <h4>
          <i class="pi pi-info-circle"></i>
          <a>Información Adicional</a>
        </h4>
        <p>Aquí puedes agregar cualquier información adicional que desees incluir en el footer.</p>
      </div>
    </div>
  </div>
</footer>
