/* Estilo para el formulario de inicio de sesión */

h2{
  font-size: 60px;
  font-family:'Times New Roman', Times, serif ;
  text-align: center;
  margin-bottom: auto;
  margin-top: 40px;
}

form {
  max-width: 300px;
  margin: 0 auto;
  margin-top:3%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Estilos para el contenedor input-group */


/* Estilo para etiquetas */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family:'Times New Roman', Times, serif ;
}

/* Estilo para campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilo para el botón de inicio de sesión */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f085cd;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif ;
}
button[type="submit"]:hover {
  background-color: #b15392;
}

/* Estilo para los campos de entrada */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.form-control:focus {
  border-color: #ffffff; /* Cambia el color del borde al enfocar */
}
button[type="button"] {
  margin-top: 0.4em;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f085cd;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif ;
  margin-bottom: 0.4em;
}
button[type="button"]:hover {
  background-color: #b15392;
}

