<app-navbar></app-navbar>
<app-boton-carrito></app-boton-carrito>
<div class="container">
  <h2>Formulario de Contacto</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input placeholder="Nombre" type="text" id="name" name="name" class="form-control" autocomplete="name" [(ngModel)]="formData.name" required>
    </div>

    <div class="form-group">
      <label for="phone">Telefono:</label>
      <input placeholder="Número Telefonico" type="phone-number" id="phone" name="phone" autocomplete="phone" class="form-control" [(ngModel)]="formData.cel" required>
    </div>

    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input placeholder="Correo Electrónico" type="email" id="email" name="email" class="form-control" autocomplete="email" [(ngModel)]="formData.email" required>
    </div>

    <div class="form-group">
      <label for="message">Mensaje:</label>
      <textarea placeholder="Descripción" id="message" name="message" class="form-control" [(ngModel)]="formData.message" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary"  [disabled]="!isFormValid()">Enviar</button>
  </form>

  <div class="modal" [ngClass]="{ 'show': showConfirmation }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Comentario Registrado</h5>
          <button type="button" class="boton-ventana" (click)="closeConfirmation()">
            <i class="pi pi-times"></i></button>
        </div>
        <div class="modal-body">
          ¡Pronto nos contactermos con usted!
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
